#post-single {
  background-color: $light;
  border-radius: 15px 15px 0 0;
  border: 0;

  header {
    span.entry-title {
      @include flex-around();

      align-items: center;

      h1 {
        max-width: 50%;
      }

      div {
        max-height: 500px;
        max-width: 50%;
        overflow: hidden;
        text-align: center;

        img {
          width: auto;
          max-height: 500px;
        }
      }
    }
  }

  .entry-content {
    background-color: $light;
    padding: 0.7em 0.3em;
    line-height: 175%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 992px) {
  #post-single {
    header {
      width: 100%;

      span.entry-title {
        display: block;

        h1 {
          max-width: 100%;
          padding: 1em 0;
          text-align: center;
        }

        div {
          max-width: 100%;
        }
      }

      h4 {
        padding: 0 !important;
      }
    }
  }
}
