nav.navigation.posts-navigation {
  padding: 1em;

  div.nav-links {
    @include flex-between();

    width: 100%;
    text-align: center;

    .nav-previous,
    .nav-next {
      width: 50%;
      padding: 1em;

      a {
        color: $light;
        background-color: $secondary;
        padding: 1em;
        display: block;
        text-decoration: none;
        width: 30%;
        margin: 0 auto;

        &:hover {
          background-color: $primary;
        }
      }
    }
  }
}
