@mixin swiper-libros() {
  .swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    .swiper-slide {
      text-align: center;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;

      .card {
        .modal {
          z-index: 99999999999;
        }

        img {
          max-height: 530px;
          width: auto;
        }

        .card-body {
          background-color: rgba($dark, 0.9);
          position: absolute;
          padding: 0;
          height: 100%;
          width: 100%;
          display: none;

          h3.dev-libros {
            @extend .cinzel;

            color: $light;
          }

          a#libro-button {
            display: none;
          }

          ul {
            @include flex-it();

            @extend .striped-list;

            flex-direction: column;
            justify-content: space-around;
            color: $white;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            list-style: disc;

            li.chapter-section {
              color: $dark;
              padding: 5px 0;
              font-weight: bold;
              cursor: default;
              background-color: rgba($light, 0.5);

              &:hover {
                background-color: rgba($gray-900, 0.9);
              }
            }

            li {
              @include flex-it();

              width: 100%;
              height: 100%;

              p {
                @include flex-it();

                width: 100%;
                margin: 0;
                height: 100%;
                cursor: default;
                font-weight: bold;
              }

              span {
                display: block;
                cursor: default;
                font-size: 15px;
                margin: 0 auto;
                width: 80%;
                color: $light;
                font-weight: bold;
                background-color: $secondary;
                border-radius: 15px 0 0 15px;
              }

              a {
                @include flex-it();

                text-decoration: none;
                align-items: center;
                color: $white;
                font-weight: bold;
                width: 100%;
                height: 100%;

                small {
                  margin: 0 5px;
                  color: $danger;
                  padding: 0.3em;
                  border-radius: 5px;
                  border: 2px solid $danger;
                }

                &:hover {
                  background-color: $primary;
                }
              }
            }
          }
        }

        &:hover {
          .card-body {
            -webkit-box-shadow: 0 0 7px 3px rgba(59, 68, 75, 0.73);
            -moz-box-shadow: 0 0 7px 3px rgba(59, 68, 75, 0.73);
            box-shadow: 0 0 7px 3px rgba(59, 68, 75, 0.73);
            display: inherit;
          }
        }
      }
    }
  }

  .swiper-pagination {
    display: block;
    width: 100%;
    position: relative;
    padding: 1em 0;

    span.swiper-pagination-bullet {
      background-color: $warning;
      border-radius: 0;
      padding: 0 0.5em;
    }
  }

  @media (max-width: 576px) {
    .swiper-container {
      .swiper-slide {
        .card {
          img {
            height: auto;
            width: 100%;
          }

          .card-body {
            ul {
              li.chapter-section {
                font-size: 10px !important;
              }

              li {
                a {
                  font-size: 11px;
                  padding: 0;
                }

                p {
                  font-size: 11px;
                  margin: 0 auto;
                }

                span {
                  font-size: 9px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 992px) {
    .swiper-container {
      .swiper-slide {
        .card {
          .card-body {
            ul {
              li.chapter-section {
                font-size: 13px;
              }

              li {
                a {
                  padding: 0;
                }

                p {
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
