@mixin grid-layout($w, $h, $template, $gap) {
  width: $w;
  height: $h;
  display: grid;
  grid-template: $template;
  grid-gap: $gap;
}

@mixin flex-it() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between() {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

@mixin flex-around() {
  display: flex;
  justify-content: space-around;
}
